/*  your css code here. If applicable */
.navbar {
  background-color: #D3D3D3;
  padding: 10px;
  list-style: none;       /* no bullets */
}

.navbar li {
  display: inline;        /* horizontally */
  margin-right: 1rem;     /* spacing */
}
